#debugging_module{
	position: absolute;
	bottom: 2em;
	right: 2em;
	max-width: 33%;
}

#console{
	width: 100%;
	height: 13em;
	margin-bottom: 0.75em;
}

#export_console_btn {
	right: 0;
	position: absolute;
}
